* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 1000px;
    background-color: antiquewhite;
}

.container {
    margin: 0 auto;
    width: 600px;
    height: 500px;
    padding: 25px 25px;
    background-color: rgba(155, 196, 196, 0.767);
    border: 2px;
    color: rgb(14, 51, 83);
} 

.container h1 {
    height: 42px;
    width: 550px;
    font-size: 36px;
    text-align: center;
}

.container form {
    width: 550px;
    height: 250px;
}
.container .input-box {
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: white;
    border: none;
    outline: none;
    border: 2px solid rgba(14, 10, 10, 0.2);
    border-radius: 10px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.container .btn {
    width: 30%;
    height: 45px;
    background-color: rgb(0, 119, 255);
    margin: 0 auto;
    display: block;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #bebebe;
    font-weight:  600;
}

.register-link {
    padding: 20px 0;
    text-align: center;
}

.register-link p a {
    text-decoration: none;
    font-weight: 600;
}

.container .error {
    color: rgb(158, 57, 57);
}