<!DOCTYPE html>
<html>
  <head>
    <title>RoboPety</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',
    filename='user.css') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="dashboard">
      <h1>{{ username }}</h1>
      <a href="/logout"> Log out </a>
      <div class="pane">
        <div class="left-pane">
          <div class="my-robopet">
            <h3>My RoboPet</h3>
            <div class="robopet">
              <img
                src="https://cdn0.iconfinder.com/data/icons/animal-icons-flat/128/dog-512.png"
                alt="RoboPet"
                width="100px"
                height="100px"
              />
              <p>Name</p>
            </div>
            <button class="return-btn">Return</button>
          </div>
          <div class="search-box">
            <input
              type="text"
              class="search-field"
              placeholder="Search RoboPets"
            />
            <i class="bx bx-search-alt-2"></i>
          </div>
        </div>
        <div class="right-pane">
          <h3>Some Available Robots</h3>
          <div class="robopet-list">
            <div class="robopet">
              <img
                src="https://cdn0.iconfinder.com/data/icons/animal-icons-flat/128/dog-512.png"
                alt="RoboPet"
                width="75px"
                height="75px"
              />
              <p>Name</p>
              <button>Select</button>
            </div>
            <div class="robopet">
              <img
                src="https://cdn0.iconfinder.com/data/icons/animal-icons-flat/128/dog-512.png"
                alt="RoboPet"
                width="75px"
                height="75px"
              />
              <p>Name</p>
              <button>Select</button>
            </div>
            <div class="robopet">
              <img
                src="https://cdn0.iconfinder.com/data/icons/animal-icons-flat/128/dog-512.png"
                alt="RoboPet"
                width="75px"
                height="75px"
              />
              <p>Name</p>
              <button>Select</button>
            </div>
            <div class="robopet">
              <img
                src="https://cdn0.iconfinder.com/data/icons/animal-icons-flat/128/dog-512.png"
                alt="RoboPet"
                width="75px"
                height="75px"
              />
              <p>Name</p>
              <button>Select</button>
            </div>
            <div class="robopet">
              <img
                src="https://cdn0.iconfinder.com/data/icons/animal-icons-flat/128/dog-512.png"
                alt="RoboPet"
                width="75px"
                height="75px"
              />
              <p>Name</p>
              <button>Select</button>
            </div>
            <div class="robopet">
              <img
                src="https://cdn0.iconfinder.com/data/icons/animal-icons-flat/128/dog-512.png"
                alt="RoboPet"
                width="75px"
                height="75px"
              />
              <p>Name</p>
              <button>Select</button>
            </div>
            <div class="robopet">
              <img
                src="https://cdn0.iconfinder.com/data/icons/animal-icons-flat/128/dog-512.png"
                alt="RoboPet"
                width="75px"
                height="75px"
              />
              <p>Name</p>
              <button>Select</button>
            </div>
            <div class="robopet">
              <img
                src="https://cdn0.iconfinder.com/data/icons/animal-icons-flat/128/dog-512.png"
                alt="RoboPet"
                width="75px"
                height="75px"
              />
              <p>Name</p>
              <button>Select</button>
            </div>
            <div class="robopet">
              <img
                src="https://cdn0.iconfinder.com/data/icons/animal-icons-flat/128/dog-512.png"
                alt="RoboPet"
                width="75px"
                height="75px"
              />
              <p>Name</p>
              <button>Select</button>
            </div>
            <div class="robopet">
              <img
                src="https://cdn0.iconfinder.com/data/icons/animal-icons-flat/128/dog-512.png"
                alt="RoboPet"
                width="75px"
                height="75px"
              />
              <p>Name</p>
              <button>Select</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
